.container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.searchForm {
  display: flex;
  border: 1px solid gray;
  height: fit-content;
  padding: 5px 15px;
  border-radius: 20000px;
}
.inputItems {
  display: grid;
  place-content: center;
  border: none;
  outline: none;
}
.inputItems > svg {
  fill: gray;
}
input {
  margin-left: 10px;
  max-width: fit-content;
  background-color: transparent;
}
