@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-1: "Roboto", sans-serif;
  --title-color: #000000;
  --primary-color: #cacaca;
  --accent-color: #eb3223;
}

body {
  margin: 0;
  font-family: var(--font-family-1);
}

a {
  font-family: var(--font-family-1);
  text-transform: capitalize;
  text-decoration: none;
  color: gray;
}
.app {
  display: flex;
  justify-content: space-between;
}
