@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-1: "Roboto", sans-serif;
  --title-color: #000000;
  --primary-color: #cacaca;
  --accent-color: #eb3223;
  --white-color: #fff;
  --main-background: #fbfbfb;
  --red-btn: #ff3232;
  --padding: 20px;
  --border-radius: 20px;
  --box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  --small-font: 0.5rem;
}

body {
  margin: 0;
  font-family: var(--font-family-1);
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

button {
  border: none;
  background: none;
  border-radius: 50%;
  cursor: pointer;
}

a {
  font-family: var(--font-family-1);
  text-transform: capitalize;
  text-decoration: none;
  color: gray;
}
.app {
  display: flex;
  justify-content: space-between;
  height: 100svh;
}
.main {
  background-color: var(--main-background);
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.watch-btn {
  background-color: var(--red-btn);
  padding: 5px 10px;
  border-radius: 2000px;
  color: var(--white-color);
  box-shadow: 0 0 10px var(--red-btn);
}

.add-btn {
  color: var(--white-color);
  background-color: gray;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  margin-left: 10px;
}
