@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-1: "Roboto", sans-serif;
  --title-color: #000000;
  --primary-color: #cacaca;
  --accent-color: #eb3223;
  --white-color: #fff;
  --main-background: #fbfbfb;
  --red-btn: #ff3232;
}

body {
  margin: 0;
  font-family: var(--font-family-1);
}

button {
  border: none;
  background: none;
  border-radius: 50%;
  cursor: pointer;
}

a {
  font-family: var(--font-family-1);
  text-transform: capitalize;
  text-decoration: none;
  color: gray;
}
.app {
  display: flex;
  justify-content: space-between;
  height: 100svh;
}
.main {
  background-color: var(--main-background);
  width: 100%;
  padding: 20px;
}
